name: macOS arm64

on:
  push:
    branches:
      - main
      - release/**

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-apple-darwin
      - run: cargo test --target=aarch64-apple-darwin
      - run: cargo build --release --target=aarch64-apple-darwin
