name: macOS

on:
  push:
    branches:
      - main
      - release/**

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo test
      - run: cargo build --release
